
.separator{
    margin-top: 60px;
}

.navbar-green{
    background-color: #43a82c;
}

.text-green{
    color: #43a82c;
}

.white-opacity{
    background-color: rgba(230, 229, 229, 0.80);
    padding: 1px;
}

.white-text{
    color: white !important;
}

.bg-grey{
    background-color: grey;
}

.rounded-buttons-lg{
    border-radius: 36px;
    background-color: #43a82c;
    font-size: x-large;
}

.rounded-buttons-md{
    border-radius: 12px;
    background-color: #43a82c;
    font-size: x-large;
}

.rounded-buttons{
    border-radius: 5px;
    background-color: #43a82c;
}

#home-image-bg{
    padding-top: 10%;
    background-image: url('/assets/img/christina-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-wh{
    width: 160px;
    height: 180px;
    border: 1px solid #007800;
}

.title-line{
    border: 3px solid #007800;
    border-radius: 5px;
}

.items-line{
    border: 1px solid #43a82c;
    border-radius: 5px;
}

.pre-footer{
    background-color: #78da5c;
}

.footer{
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: #007800;
    color: whitesmoke;
}

.links-white:link, .links-white:visited{
    color: whitesmoke;
}

.links-white:active, .links-white:hover{
    color: thistle;
}

.grenze-font{
    font-family: 'Grenze Gotisch', cursive;
}

#wanttobuy-image-bg{
    background-image: url('/assets/img/thebag.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
}

#wanttosell-image-bg{
    background-image: url('/assets/img/store.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
}

.img-profile-bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.green-title{
    color: #43a82c;
}